@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-svg-core/styles.css';

@layer {
  .text-base {
    @apply text-slate-900 dark:text-white;
  }
  .bg-base {
    @apply bg-white dark:bg-slate-900;
  }
}
body {
  @apply text-base bg-base;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

img {
  -webkit-user-select: none; /* Safari용 */
  -moz-user-select: none; /* Firefox용 */
  -ms-user-select: none; /* Internet Explorer/Edge용 */
  user-select: none; /* 비표준, 대부분의 브라우저용 */

  pointer-events: none;
}

textarea,
input {
  color: black;
  outline: none;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
